<h1 class="text-center">Sign in</h1>
<hr>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, autofocus: true, placeholder: 'Email Address' %>
  <%= f.input :password, autocomplete: "off", placeholder: 'Password' %>
  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, as: :boolean %>
  <% end -%>

  <div class="form-group">
      <%= f.button :submit, "Sign in", class: "btn btn-primary btn-block btn-lg" %>
  </div>
<% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
